.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      margin: 4px;
    }
  }
}
