@mixin component {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  right: -50px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: transparent;
  color: white;
  background-color: #59bd5a;
  cursor: pointer;
  opacity: 0.6;
  transition-duration: .25s;

  &:active {
    opacity: 1;
  }

  @media screen and (min-width: 1024px) {
    &:hover {
      opacity: 1;
    }
  }
}

.button {
  @include component;
}

.button_active {
  @include component;
  right: 0;
}

