@import-normalize;

body {
  height: 100%;
  font-family: "Segoe UI", Arial ,sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  display: none;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
